<div style="margin-top: 10%">
  <div class="ui middle aligned grid">
    <div class="column">
      <h2 class="ui teal image header">      
        <div class="content">
          Log In
        </div>
      </h2>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class:'ui form'}) do |f| %>
      <div class="ui stacked segment">
        <div class="field">
          <%= f.input :email, required: false, autofocus: true %>
        </div>
        <div class="field">
          <%= f.input :password, required: false %>
        </div>
      
        <div class="field">
          <div class="ui checkbox">
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>
        </div>
        <%= f.button :submit, "Log in", class: 'ui fluid large teal submit button' %>
      </div>
      <% end %>
    </div>
  </div>
</div>