<%= render 'admin/partials/notice' %>

<div class="ui grid padded">
  <div class="ui row">
    <h2 class="ui header">
      Gerenciamento do Sobre Mim
      <div class="sub header"><small>Gerenciamento do Sobre Mim</small></div>
    </h2>
  </div>

  <!-- Tab Menu -->

  <div class="row">
    <div class="ui secondary menu black">
      <a class="ui item active" data-tab="first">Todos</a>
      <%= link_to 'Cadastrar Sobre', new_admin_about_path, class: 'item' %>
    </div>
  </div>
</div>

<div class="ui divider horizontal">
  <i class="icon info"></i>
  Registros encontrados
</div>

<div class="ten wide column">
  <div class="ui tab active" data-tab="first">
    <div class="ui column row">
      <table title='Tag' class="resultset ui sortable very compact small table celled selectable unstackable">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @admin_abouts.each do |admin_about| %>
          <tr>
            <td class=""><%= link_to admin_about.description, edit_admin_about_path(admin_about) %></td>
            <td class="collapsing center aligned">
              <%= link_to 'Editar', edit_admin_about_path(admin_about) %>
            </td>
            <td class="collapsing center aligned">
              <%= link_to "Remover", admin_about_path(admin_about), method: :delete, data: {confirm: 'Tem certeza que quer excluir?'} %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div><!-- fim column -->
  </div><!-- container tab first -->
</div><!-- container row -->
