<%= render 'admin/partials/notice' %>

<div class="ui grid padded">
  <div class="ui row">
    <h2 class="ui header">
      Gerenciamento de Categorias
      <div class="sub header"><small>Gerenciamento de Categorias</small></div>
    </h2>
  </div>

  <!-- Tab Menu -->

  <div class="row">
    <div class="ui secondary menu black">
      <a class="ui item active" data-tab="first">Todos</a>
      <%= link_to 'Cadastrar Categorias', new_admin_category_path, class: 'item' %>
    </div>
  </div>
</div>

<div class="ui divider horizontal">
  <i class="icon info"></i>
  Registros encontrados
</div>

<div class="ten wide column">
  <div class="ui tab active" data-tab="first">
    <div class="ui column row">
      <table title='Tag' class="resultset ui sortable very compact small table celled selectable unstackable">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Slug</th>
            <th>Cadastro Por</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @admin_categories.each do |admin_category| %>
          <tr>
            <td class=""><%= admin_category.name %></td>
            <td class="collapsing"><%= admin_category.slug %></td>
            <td class="collapsing center aligned"><%= admin_category.user.name unless admin_category.user.blank? %></td>
            <td class="collapsing center aligned">
                <div class="ui floating dropdown icon">
                  Opções <i class="dropdown icon"></i>
                  <div class="menu">
                    <div class="item">
                      <i class="edit icon"></i>
                      <%= link_to 'Editar Categoria', edit_admin_category_path(admin_category) %>
                    </div>
                    <div class="item">
                      <i class="delete icon"></i>
                      <%= link_to "Remover Categoria", admin_category_path(admin_category), method: :delete, data: {confirm: 'Tem certeza que quer excluir?'} %>
                    </div>
                  </div>
                </div>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div><!-- fim column -->
  </div><!-- container tab first -->
</div><!-- container row -->
