<%= render 'admin/partials/notice' %>

<div class="ui grid padded">
  <div class="ui row">
    <h2 class="ui header">
      Gerenciamento de Categorias
      <div class="sub header"><small>Gerenciamento de Categorias</small></div>
    </h2>
  </div>

  <!-- Tab Menu -->

  <div class="row">
    <div class="ui secondary menu black">
      <a class="ui item active" data-tab="first">Todos</a>
      <%= link_to 'Cadastrar Categorias', new_admin_category_path, class: 'item' %>
    </div>
  </div>
</div>

<div class="ui divider horizontal">
  <i class="icon info"></i>
  Registros encontrados
</div>

<div class="ten wide column">
  <div class="ui tab active" data-tab="first">
    <div class="ui column row">
      <table title='Tag' class="resultset ui sortable very compact small table celled selectable unstackable">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Slug</th>
            <th>Cadastro Por</th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @admin_categories.each do |admin_category| %>
          <tr>
            <td class=""><%= link_to admin_category.name, edit_admin_category_path(admin_category) %></td>
            <td class="collapsing"><%= admin_category.slug %></td>
            <td class="collapsing center aligned"><%= admin_category.user.name unless admin_category.user.blank? %></td>
            <td class="collapsing center aligned">
              <%= link_to 'Editar', edit_admin_category_path(admin_category) %>
            </td>
            <td class="collapsing center aligned">
              <%= link_to "Remover", admin_category_path(admin_category), method: :delete, data: {confirm: 'Tem certeza que quer excluir?'} %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div><!-- fim column -->
  </div><!-- container tab first -->
</div><!-- container row -->
