<% content_for :sidebar do %>
  
  <div class="sidebar-left">
    
    <div class="logo">
      <%= link_to root_path do %>
        <%= image_tag 'logo_black' %>
      <% end %>
    </div>

    <nav class="menu">
      <ul>
        <li><%= link_to 'Portifolio', site_portifolio_path %></li>
        <li><%= link_to 'Serviços', site_services_path %></li>
        <li><%= link_to 'Sobre Mim', site_about_path %></li>
        <li><%= link_to 'Contatos', site_contact_path %></li>
      </ul>
    </nav>

    <div class="footer">
      <p>Todos os Direitos Reservados</p>
      <p>by <%= image_tag 'logo-dev' %></p>
    </div>

  </div> <!-- sidebar -->
<% end %>