<div class="ui grid stackable">
  <div class="ui container">
    <h2 class="ui header">
      Editar Perfil
      <div class="sub header"><small><%= resource_name.to_s.humanize %></small></div>
    </h2>
  </div>
</div>

<div class="ui stackable grid">
  <div class="ui divider horizontal">
    <i class="icon alarm"></i>
    Preencha os campos abaixo
  </div>
</div>

<div class="ui container grid stackable">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'ui form' }) do |f| %>
  <%= f.error_notification %>
  
  <div class="field">
    <%= f.input :name, autocomplete: "off", required: true, autofocus: true %>
  </div>

  <div class="ui three fields">
    <div class="field">
      <%= f.input :email, autocomplete: "off", required: true, autofocus: true %>
    </div>
  
    <div class="field">
      <%= f.input :password, autocomplete: "off", hint: "Deixe em branco caso não queira alterar", required: false %>
    </div>
  
    <div class="field">
      <%= f.input :password_confirmation, required: false %>
    </div>
  </div>
 
  <div class="field">      
    <%= f.input :current_password, hint: "Necessário digitar a senha atual", required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
  <% end %>
</div>

