<%= render "site/partials/navbar" %>

<%= content_for :content do %>
  <section class="container portifolio page">
    
    <div class="header">
      <h3 class="title">Meu Portifolio</h3>
      <p class="subscription">Aqui você confere todos os meus mais recentes trabalhos</p>
    </div>

    <div class="categories">
      <div class="cards">
      <% @categories.each do |category| %>

        <% if category.admin_photo.last.present? %>
          <%= link_to site_album_category_path(category.slug), :"data-no-turbolink" => true do %>
            <div class="card">
              <div class="card-header">
                <%= image_tag category.admin_photo.last.image.thumb('500x220#').url %>
              </div>

              <div class="card-description">
                <h2><%= category.name %></h2>
              </div>
            </div>
          <% end %>
        <% end %>

      <% end %>
      </div>
    </div>

  </section>
<% end %>