<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="description" content="Site da Fotógrafa Kenya Oliveira especializado em serviços de fotografia de grávidas, Crianças ,recém nascidos, ensaios, bebês, gestantes, eventos corporativos, newborn e book de fotos em Palmas, Tocantins - Brasil. Serviço de Qualidade Garantida" />
  <meta name="subject" content="Site para Fotografias, Fotos e Palmas Tocantins Brasil">
  <meta name="author" content="Fotográfia, Book, Bebês, Grávidas, Fotos, Kenya Oliveira - Fotografa, Palmas/TO" />
  <meta name="keywords" content="grávidas, fotografia, newborn, recém nascidos, crianças ,fotografia, palmas, tocantins, fotografos, fotografo, book, Fotos, Fotógrafo de Casamentos, stúdio Fotográfico, Books, Brazil Wedding Photographers, Noiva, Noivo, Trash The Dress, Book Gestante, Books Gestantes, Book Gestantes, Books Gestante, Book Gravida, Books Gravidas, Book Grávida, Books Grávidas, Books Gravida, Fotografa para Book Gestante, Fotografa de Gestante, Fotografas de gestante, Fotografia de gravidas, Fotografias de grávidas, Foto Gestação, book fotografico para gestante, fotos de gestante, foto de gestante, fotografia de gestante, book gestante sp, fotos para gestante sp, roupa para gestante, sessao de fotos para gestante, ensaio fotografico gestante, fotos barriga gestante, estudio fotografico, estudio fotografico para gestante, studio fotografico, studio fotografico para gestante, book gestante promocao, fotos barriga gestacao, foto de gravida, fotos de gravidas, São Paulo, Minas Gerais, Rio de Janeiro, Parana, Paraná, Rio Grande do Sul, Bahia, Pernambuco, Santa Catarina, Ceará, Ceara, Brasilia, Brasília, Distrito Federal, Goiás, Goias, Espirito Santo, Paraiba, Paraíba, Rio Grande do Norte, Mato Grosso, Pará, Para, Maranhão, Maranhao, Mato Grosso do Sul, Rondonia, Rondônia, Amazonas, Alagoas, Sergipe, Tocantis, Piaui, Piauí, Roraima, Amapa, Amapa, Acre, SP, MG, RJ, PR, RS, BH, PE, SC, CE, DF, GO, ES, PA, RN, MT, PB, MA, MS, RO, AM, AL, SE, TO, PI, RR, AP, AC"/>
  <meta name="robots" content="index, follow">
  <meta name="copyright"content="Kenya Oliveira Fotográfia">
  <meta name="Classification" content="Fotografia">
  <meta name="designer" content="Thadeu Esteves Jr">
  <meta name="copyright" content="Kenya Oliveira Fotografia">
  <meta name="url" content="http://www.kenyaoliveira.com.br">
  <meta name="category" content="Fotografia, Fotos, Album, Foto">

  <meta property="og:title" content="Kenya Oliveira I Photographer Palmas - TO" />
  <meta property="og:url" content="http://kenyaoliveira.com.br/" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Kenya Oliveira" />
  <meta property="og:description" content="Kenya Oliveira Fotografia Palmas Tocantins"/>
  <meta name="og:locality" content="Palmas Tocantins"/>
  <meta name="og:country-name" content="Palmas"/>

  <!-- Twitter Card data -->
  <meta name="twitter:card" value="summary">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="alternate" href="http://kenyaoliveira.com.br/" hreflang="pt" />
  <link rel=”author” href="https://plus.google.com/+SrThadeuEstevesJ%C3%BAnior"/>

  <%= stylesheet_link_tag 'site', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Dancing+Script|Open+Sans|Pacifico", media: 'all' %>
  <%= javascript_include_tag :modernizr %>
  <%= csrf_meta_tags %>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-68932078-1', 'auto');
    ga('send', 'pageview');

  </script>

  <title>Kenya Oliveira | Fotografia Palmas, Tocantins ( Gestantes | Newborn | Grávidas | Crianças | Recém Nascido | Bebês | Ensaios | Eventos | Book de Fotos | Palmas - TO )</title>
</head>
<body>

  <section class="site">
    <%= yield :sidebar %>
    <%= yield :content %>
  </section>

  <%= yield :footer %>
  <%= javascript_include_tag 'application', 'data-turbolinks-eval' => false %>
  <%= yield :javascript %>
  
</body>
</html>